# Servidor
PORT=3000
NODE_ENV=development

# Supabase (proyecto dev) — ver plan-fase1-infraestructura-autenticacion.md
# Panel Supabase → Project Settings → API
SUPABASE_URL=https://mljvtfjholcytvlkzwgi.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1sanZ0Zmpob2xjeXR2bGt6d2dpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYwNzg0NzUsImV4cCI6MjEwMTY1NDQ3NX0.9-5YzKWRMNwRbf4uXvIEQ0FAcLV9Pk5f-uKsr8tXIA4
# Panel Supabase → Project Settings → API → JWT Settings → JWT Secret
SUPABASE_JWT_SECRET=dY+myh/MIg7d1rK19j18J1BECuG6iUW6iPJGY2xyDTUwOrqOfTV2w2piuSH+lTqhG505oiwafJIzpTiCCk2cyQ==
